@sprite .welcomePanel {
    gwt-image: "rootBack";
    background-repeat: repeat;
    width: 100%;
    height: 100%;
}

@sprite .rootPanel {
    gwt-image: "mainBack";
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
}

.msgRead {
    font-size: 15px;
    color: #545454;
}

.msgUnread {
    font-weight: bold;
    font-size: 15px;
    color: #545454;
}




