@sprite .rootPanel {
    gwt-image: "mainBack";
    width: 100%;
    height: 100%;
    background-color: #f7f7f8;
}

.msgRead {
    font-size: 15px;
    color: #545454;
}

.msgUnread {
    font-weight: bold;
    font-size: 15px;
    color: #545454;
}




