.cellListWidget {
}

.cellListEvenItem {
    background: transparent;
}

.cellListOddItem {
    background: #efefef;
    background: rgba(239, 239, 239, 0.4);
}

.cellListKeyboardSelectedItem {
    background: #fff;
}

.cellListSelectedItem {
    background-image: none;
    background-color: rgba(255, 255, 204, 0.4);
    color: #000;
}
