.cellTableCell:hover {
    background: #f5f5f5;
    cursor: pointer;
}

.cellTableSelectedRow,
.cellTableSelectedRowCell,
.cellTableSelectedRow:hover,
.cellTableSelectedRowCell:hover  {
    background: #0088cc;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.cellTableCell {
    border-color: transparent;
    border-radius: 3px;
    cursor: pointer;
}

.cellTableHoveredRowCell {
    border: none;
    cursor: pointer;
}
