.cellListWidget {
    border: 1px solid #e2e2e2;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.cellListEvenItem {
    background-color: #f9f9f9;
    font-size: 10px;
    padding: 5px;
    cursor: pointer;
    zoom: 1;
    font-weight: bold;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.cellListOddItem {
    background-color: #ffffff;
    font-size: 10px;
    padding: 5px;
    cursor: pointer;
    zoom: 1;
    font-weight: bold;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.cellListSelectedItem {
    background-image: none;
    background-color: transparent;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
