.bigTitle {
    font-weight: bold;
    font-size: 19px;
    color: #545454;
    padding-bottom: 2px;
    border-bottom: 1px solid #DADADA;
    margin-bottom: 12px;
}

.bigTitle h2 {
    float: left;
}

.bigTitle div {
    float: right;
}
