@external navbar-inner, nav-tabs, active, nav, accordion-group, accordion-toggle, accordion-inner;
@external error, errorField, placeholder;

body {
    font-family: "Droid Sans", Helvetica, Arial, sans-serif;
}

.navbar-inner {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.nav-tabs {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 200px;
}
.nav-tabs>.active>a, .nav-tabs>.active>a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.nav {
    margin-bottom: 0px;
}

.ajaxLoader {
    color: #ffffff;
    background-color: #545454;
    font-weight: bold;
    position: fixed;
    width: 100px;
    left: 50%;
    margin-left: -49px;
    top: 0px;
    text-align: center;
    font-size: 12px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    display: block;
    z-index: 100;
    padding: 5px;
}

.mainContentWrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    overflow-y: auto;
}

.bigTitle {
    color: #545454;
    padding-bottom: 2px;
    border-bottom: 1px solid #DADADA;
}

.bigTitle h2 {
    font-weight: normal;
    float: left;
    font-size: 25px;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

.bigTitle div {
    float: right;
}

.mediumTitle {
    font-size: 20px;
    color: #9a9a9a;
}

.buttonContainer {
    padding: 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    text-align: right;
}

.buttonContainer a {
    min-width: 94px;
    margin-left: 10px;
}

.buttonContainerPopup {
    padding: 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    text-align: right;
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.buttonContainerPopup a {
    min-width: 94px;
    margin-left: 10px;
}

.accordion-group {
    margin-bottom: 10px;
    border: none;
}

.accordion-toggle {
    font-size: 16px;
    font-weight: bold;
}

.accordion-toggle:hover {
    text-decoration: none;
}

.accordion-inner {
    border-top: none;
}

.linkButton {
    color: #1b5799;
    font-size: 13px;
    border: none;
    background: none;
}

.linkButton:hover {
    color: #1b5799;
    font-size: 13px;
    border: none;
    background: none;
    text-decoration: underline;
}

.errorBox {
    background-position: 10px center;
    padding: 10px;
    padding-left: 20px;
    padding-bottom: 0px;
    border: 1px solid #a70f1a;
    margin-bottom: 10px;
}

.errorBox .error {
    margin-bottom: 10px;
    font-size: 14px;
    color: #7e0a12;
}

@sprite .requiredField {
    gwt-image: "required";
    width: 12px;
    height: 10px;
    display: inline-block;
}

input.errorField {
    background-color: #f2dede !important;
}

.tableTransparentBack {
    background-color: rgba(255, 255, 255, 0.4);
}

.placeholder {
    color: #aeaeae !important;
}
